/* #################################  DARK THEME STYLING ################################# */
.dark-theme {
  background-color: #212224;
}

.dark-theme nav {
  background-color: #212224;
}

.dark-theme .container div,
.dark-theme main .sidenav div {
  background-color: #333639;
}

.dark-theme * {
  color: #cfcfcf;
}

.dark-theme .title .profileImage {
  background-color: #cd9d00;
}

.dark-theme .navbuttons img:hover {
  background-color: #333639;
}
.dark-theme .socialLinks a {
  border: 1px solid #bcbcbc;
}
.dark-theme .socialLinks a:hover {
  background-color: #bcbcbc;
  color: #333639;
}
.dark-theme .socialLinks a:hover i {
  color: #333639;
}
.dark-theme .resumeContent div div strong {
  color: #ddc164;
}
