/* #################################  DARK THEME STYLING ################################# */
.dark-theme {
  background-color: #212224;
}

.dark-theme nav {
  background-color: #212224;
}

.dark-theme .container div,
.dark-theme main .sidenav div,
.dark-theme .resumeContent {
  background-color: #333639;
}

.dark-theme * {
  color: #cfcfcf;
}

.dark-theme .title .profileImage {
  background-color: #cd9d00;
}

.dark-theme .navbuttons img:hover {
  background-color: #333639;
}
