@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  z-index: 1;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
  margin-left: 20px;
}

.navlinks {
  min-width: 150px;
  display: flex;
  transition: all 0.3s ease;
}

.navlinks a {
  position: relative;
  text-decoration: none;
  color: #111111;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.navlinks a:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  background-color: #fff;
  transition: width 0.5s ease, left 0.3s ease;
}

.navlinks a:hover:after,
.navlinks a.active:after {
  width: 100%;
  left: 0;
  background-color: #111111;
}

.navbuttons {
  min-width: 200px;
  padding-right: 20px;
  justify-content: space-around;
}

.navbuttons img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbuttons button {
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.getintouch a {
  all: unset;
}

.getintouch:hover {
  background-color: #ffc400;
  color: #ffffff;
}

main {
  height: calc(100vh - 120px);
  transition: all 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container > div {
  position: relative;
  border-radius: 20px;
  min-height: 270px;
  background-color: #bcbcbc;
  overflow: hidden;
}

main .container div a {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

.title {
  flex: 0 0 50%;
}

.resume,
.github,
.linkedin {
  flex: 0 0 22%;
}

.skills {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 20px;
}

#menu-toggle {
  display: none;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.title a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 40px;
}

.title .profileImage {
  width: 120px;
  height: 120px;
  background-color: #ffc400;
  border-radius: 50%;
}

.title .profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title .profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
}

.profileText h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.profileText p {
  font-size: 1.2rem;
}

.profileText i {
  position: absolute;
  right: -20px;
  bottom: -10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.container div:hover i {
  transition: all 0.5s ease;
  color: #ffc400;
}

@media (max-width: 1200px) {
  .title {
    flex: 0 0 100%;
  }
  .resume,
  .github,
  .linkedin {
    flex: 0 0 30%;
  }
  .skills {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .title,
  .resume,
  .github,
  .linkedin,
  .skills {
    flex: 0 0 100%;
  }

  .navlinks {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .navlinks a {
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 7px;
  }

  .navbuttons {
    min-width: 300px;
  }

  .navbar #menu-toggle {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 475px) {
  .navbuttons {
    gap: 20px;
    min-width: fit-content;
    justify-content: flex-end;
  }

  .getintouch {
    display: none;
  }

  .navbar .navlinks a:last-child {
    display: block;
  }
  .profileText h1 {
    font-size: 1.5rem;
  }
  .profileText p {
    font-size: 1rem;
  }
  .profileText i {
    bottom: 0;
  }
}

@media (max-width: 350px) {
  .profileText h1 {
    font-size: 1.3rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .profileText i {
    bottom: 0;
  }
}

.navbar.active .navlinks {
  display: flex;
}

@media (width > 475px) {
  .navbar .navlinks a:last-child {
    display: none;
  }
}

.resume a,
.github a,
.linkedin a {
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.resume i,
.github i,
.linkedin i {
  font-size: 60px;
}

.resume h2,
.github h2,
.linkedin h2,
.skills h2 {
  font-size: 2rem;
}

.skills .imagesSkils {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.skills .skillimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.skills .skillimages img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 0.5s ease;
}

.skills .skillimages img:hover {
  filter: grayscale(0%);
}
