@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
}

.logo img {
  width: 120px;
  margin-left: 20px;
}

main {
  height: calc(100vh - 120px);
  transition: all 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container > div {
  position: relative;
  border-radius: 20px;
  min-height: 270px;
  background-color: #bcbcbc;
  overflow: hidden;
}

main .container div a {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

.title {
  flex: 0 0 50%;
}

.resume,
.github,
.linkedin {
  flex: 0 0 22%;
}

.skills {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 20px;
}

.title a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 40px;
}

.title .profileImage {
  width: 120px;
  height: 120px;
  background-color: #ffc400;
  border-radius: 50%;
}

.title .profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title .profileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
}

.profileText h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.profileText p {
  font-size: 1.2rem;
}

.profileText i {
  position: absolute;
  right: -20px;
  bottom: -10px;
  font-size: 20px;
  transition: all 0.3s ease;
}
.container div i {
  transition: all 0.5s ease-in;
}
.container .resume:hover i,
.container .title:hover i {
  color: #ffc400;
}
.container .github:hover i {
  background: linear-gradient(#9c27b0, #4a148c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
}

.container .linkedin:hover i {
  color: #0077b5;
}

@media (max-width: 1200px) {
  .title {
    flex: 0 0 100%;
  }
  .resume,
  .github,
  .linkedin {
    flex: 0 0 30%;
  }
  .skills {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .title,
  .resume,
  .github,
  .linkedin,
  .skills {
    flex: 0 0 100%;
  }
}

@media (max-width: 475px) {
  .profileText h1 {
    font-size: 1.5rem;
  }
  .profileText p {
    font-size: 1rem;
  }
  .profileText i {
    bottom: 0;
  }
}

@media (max-width: 350px) {
  .profileText h1 {
    font-size: 1.3rem;
  }
  .profileText p {
    font-size: 0.8rem;
  }
  .profileText i {
    bottom: 0;
  }
}

.resume a,
.github a,
.linkedin a {
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.resume i,
.github i,
.linkedin i {
  font-size: 60px;
}

.resume h2,
.github h2,
.linkedin h2,
.skills h2 {
  font-size: 2rem;
}

.skills .imagesSkils {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.skills .skillimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.skills .skillimages img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 0.5s ease;
}

.skills .skillimages img:hover {
  filter: grayscale(0%);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #dcdcdc;
  color: #111111;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #dcdcdc transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
